.chat__receiver__body {
    height: fit-content;
    background-color:#8b99db;
    width: fit-content;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat__receiver {
    position: relative;
    font-size: 16px;
    padding:10px;
    text-align: left;
    word-wrap: break-word;
    max-width: 65vw;
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.chatreceiver__timestamp {
    font-size:xx-small;
    padding: 10px;
    text-align: right;
}

.chatreceiver__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

