.chat__message__body {
    height: fit-content;
    background-color:#f8dadc;
    margin-bottom: 30px;
    width: fit-content;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: auto;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding:10px;
    word-wrap: break-word;
    max-width: 30vw;
    display: inline-block;
    white-space: pre-wrap;
    text-align: left;
    overflow-wrap: break-word;
}

.chatmessage__timestamp {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:xx-small;
    text-align: right;
}

.chatmessage__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

@media (max-width: 500px) {
    .chat__message {
        position: relative;
        font-size: 16px;
        padding:10px;
        word-wrap: break-word;
        max-width: 50vw;
        display: inline-block;
        white-space: pre-wrap;
        text-align: left;
        overflow-wrap: break-word;
    }
}
