.list__main {
    display:flex;
    padding:15px;
    cursor:pointer;
    border-bottom: 1px solid #f6f6f6;
}

.list__main:hover {
    background-color:#ebebeb
}

.list__avatar{
    padding: 5px;
}

.list__info > h2 {
    font-size:16px;
    margin-bottom:8px;
}

.list__info > p {
    color:grey;
    font-size:12px;
}

.list__info {
    margin-left: 15px;
    flex:1;
}

.request__icon{
    color:rgb(20, 87, 43);
    font-size: 28px !important;
}

.fab {
    position: relative;
}

.send__request:hover {
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75) 
}

@media (max-width: 500px) {
    .friendsSearchList__avatar__div {
        padding: 5px;
    }
}
