.list__main {
    display:flex;
    padding:15px;
    cursor:pointer;
    border-bottom: 3px solid #f6f6f6;
}

.list__main:hover {
    background-color:#ebebeb
}

.list__avatar{
    padding: 5px;
}

.list__info > h2 {
    font-size:16px;
    margin-bottom:8px;
}

.list__info > p {
    color:grey;
    font-size:12px;
}

.list__info {
    margin-left: 15px;
    margin-top:5px;
    flex:1;
}

.reject__icon{
    color:red !important;
    font-size: 28px !important;
}

.accept__icon {
    color:green !important;
    font-size: 28px !important;
}