.sidebar{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    display:flex;
    flex-direction: row;
    flex:0.25;
    padding:15px;
    background-color: #f9f9fc;
    /*background-color: #d8dbeb;*/
    position: relative;
}

.sidebar__header{
    background-color: #4849a1;
    /*background-color: #454fbe;*/
    display:flex;
    flex-direction:column;
    padding: 15px;
    border-radius: 20px;
    flex:0.10;
}

.sidebar__left__footer{
    position: sticky
}

.avatar__container {
    padding: 5px;
}
.avatar__icon {
    font-size: 28px !important;
    padding:2px;
}

.sidebar__headerRight{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    margin-top: 10vh;
}

.requests__btn__div {
    display: flex;
    flex-direction: row;
}

.requests__btn__div > h3 {
    color: white;
    font-size: 1em !important;
    margin-right: 3px;
}

.action_button:hover {
    color:white !important;
    background-color: #6264af !important;
}

.online_button {
    color:green !important;
}

.online_button:hover {
    color:red !important;
    background-color: #6264af !important;
}

.action_button{
    color    :#6264af !important;
    font-size: 25px !important;
}

.action_button > .MuiSvgIcon-root {
    font-size: 25px !important;
}

.action_button_selected {
    color    :#fff !important;
    font-size: 25px !important;
}

.inactive_button{
    color    :#6264af !important;
    font-size: 25px !important;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    font-size: 24px !important;
}

.sidebar__right{
    display:flex;
    flex-direction: column;
    flex:0.90;
    margin-left: 5px;
    margin-top: 5px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color:#f6f6f6;
    height:39px;
    margin-left: 5px;
    border-radius: 30px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.35);
    position:sticky;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width:100%;
    height:45px;
    border-radius:20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color:gray;
    padding:10px;
}

.sidebar__searchContainer > input {
    border:none;
    outline-width:0;
    margin-left:10px;
    width: 100%;
}

.sidebar__chats{
    background-color:#f9f9fc;
    overflow-y: scroll;
    margin-top: 8px;
}

.sidebar__chats__empty{
    flex:1;
    margin-top: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar__chats::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar__chats {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @media (max-width: 500px) {
    .sidebar{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        display:flex;
        flex-direction: column;
        padding:0px;
        width: 100vw;
        height: 100vh;
        /*background-color: #f9f9fc;*/
        background-color: #494d8f;
        position: relative;
    }

    .sidebar__header{
        /*background-color: #454fbe;*/
        /*background-color:#e2e1e1;*/
        background-color: #494d8f;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        border-radius: 0px;
        height: 10vh !important;
        width: 100%;
        flex: 0.10;
        z-index: 2;
    }

    .avatar__container {
        padding: 2px;
        margin-left: 6px;
    }

    .sidebar__right{
        display:flex;
        flex: 0.90;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 0px;
        height: 100%;
        background-color: #494d8f !important;
    }

    .sidebar__search {
        display: flex;
        align-items: center;
        justify-content: center;
        /*background-color: #4849a1;*/
        background-color: #f9f9fc;
        height:10vh;
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
        z-index: 2;
        box-shadow: none;
        border-top-left-radius: 25px !important;
        border-top-right-radius: 25px !important;
    }
    
    .sidebar__searchContainer{
        display: flex;
        align-items: center;
        background-color: white;
        width:60%;
        height:35px;
        margin-right: 12px;
        border-radius:20px;
        margin-left: 12px;
    }

    .sidebar__searchContainer > .MuiSvgIcon-root {
        color:gray;
        padding:7px !important;
    }

    .sidebar__searchContainer > input {
        border:none;
        outline-width:0;
        margin-left:1px !important;
        width: 80% !important;
    }
    
    .sidebar__searchContainer > .MuiSvgIcon-root {
        color:gray;
        padding:10px;
    }
    
    .sidebar__searchContainer > input {
        border:none;
        outline-width:0;
        margin-left:10px;
        width: 100%;
    }

    .sidebar__headerRight{
        display:flex;
        flex-direction: row;
        flex:1;
        align-items: center;
        margin: 0px;
    }
    .sidebar__chats{
        background-color:#f9f9fc;
        overflow-y: scroll;
        margin-top: 0px;
        flex:1;
    }
    .sidebar__chats__empty{
        flex:1;
        margin-top: 0px;
        background-color: #f9f9fc;
      }
  }
