.sidebar{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display:flex;
    flex-direction: row;
    flex:0.25;
    padding:15px;
    background-color: #f9f9fc;
    /*background-color: #d8dbeb;*/
}

.sidebar__header{
    /*background-color: #4849a1;*/
    background-color: #4849a1;
    display:flex;
    flex-direction:column;
    padding: 8px;
    border-radius: 20px;
    flex:0.05;
}

.avatar__container {
    padding: 5px;
}
.avatar__icon {
    font-size: 28px !important;
    padding:2px
}

.sidebar__headerRight{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: 10vh;
}

.action_button:hover {
    color:white !important;
    background-color: #6264af !important;
}

.action_button{
    color    :#6264af !important;
    font-size: 25px !important;
}

.inactive_button{
    color    :#6264af !important;
    font-size: 25px !important;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    font-size: 24px !important;
}

.sidebar__right{
    display:flex;
    flex-direction: column;
    flex:0.95;
    margin-left: 5px;
    margin-top: 5px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color:#f6f6f6;
    height:39px;
    margin-left: 5px;
    border-radius: 30px;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width:100%;
    height:45px;
    border-radius:20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color:gray;
    padding:10px;
}

.sidebar__searchContainer > input {
    border:none;
    outline-width:0;
    margin-left:10px;
    width: 100%;
}

.sidebar__chats{
    background-color:#f9f9fc;
    overflow-y: scroll;
    margin-top: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar__chats::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar__chats {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }