.app {
  text-align: center;
  display: flex;
  height:100vh;
  width:100vw;
  justify-content: center;
  align-items:center;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3fa;
}

.app__container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 30px ;
  background-color: white;
  height:90vh;
  width:85vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}

.banner{
  display:flex;
  background-color: #454fbe;
  align-content: center;
  justify-content: center;
  flex:0.65;
  height:100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.banner_image{
  padding: 30px;
  margin-top: 45px;
   img{
    width:30em;;
    height: 30em;
   }

   h1{
     color: white;
     text-align: left;
     font-size: 2em;
     font-family: sans-serif;
   }
}


.topHeader {
  width:100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

// login Main Container
.login {
  height: 100%;
  flex:0.35;
  //min-height: 44em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  background-color: #f3f3fa;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    //transition: transform 200ms ease-in-out;
  }
    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
}
